@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

$primary: #7ac5fe;
$primaryDark: darken($primary, 5%);
$primaryDarker: #303f9f;

body, input, button, textarea{
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
	font-weight: 300;
	font-size: 50px;
}

h2{
	font-size: 39px;
}

h3{
	font-size: 27px;
	color: $primaryDark;
}

.screen{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #eee;
}

.screen.hidden{
	display: none;
}

#loadingScreen{
	opacity: 1;
	pointer-events: auto;
	transition: opacity linear 0.2s;
	z-index: 10;
}

#loadingScreen.hidden{
	pointer-events: none;
	opacity: 0;
	display: block;
}

#usernameScreen{
	z-index: 9;
}

#startScreen{
	z-index: 5;
}

#createScreen,
#joinScreen{
	z-index: 3;
}

#mainScreen{
	z-index: 1;
}

.screen .centerBox{
	width: 500px;
	margin-left: -250px;
	padding-left: 50%;
	text-align: center;
	margin-top: 100px;

	button{
		display: inline-block;
		background: #fff;
		padding: 10px 12px;
		font-size: 20px;
		border: 0px none;
		color: #999;
		font-weight: 300px;
		border-radius: 3px;
		margin: 0 10px;
		cursor: pointer;
		transition: color 0.2s, box-shadow 0.2s;
		box-shadow: 2px 2px 1px #ddd;
		outline: none;

		&:hover, &:focus{
			color: $primaryDark;
			box-shadow: 2px 2px 1px #bbb;
		}
	}

	input{
		display: inline-block;
		background: #fff;
		padding: 10px 12px;
		font-size: 20px;
		border: 0px none;
		color: #999;
		font-weight: 300px;
		border-radius: 3px;
		margin: 0 10px;
		box-shadow: inset -2px -2px 1px #ddd;
		text-align: center;
	}
}

label{
	display: block;
	font-size: 18px;
	color: #333;
	margin: 5px 0;

	span{
		display: block;
		margin: 5px 0;
	}
}

.listArea{
	background: #f5f5f5;
}

#searchHubResultArea{
	max-height: 500px;
	overflow: auto;
}

.listRow{
	display: block;
	border-top: 1px solid #ddd;
	padding: 7px;

	&:first-of-type{
		border-top: 0px none;
	}
}

.hubRow{
	display: flex;
	flex-direction: row;
	align-items: center;

	.name{
		padding-right: 5px;
		flex-grow: 0;
	}

	.creator{
		flex-grow: 1;
		text-align: left;
		color: #999;
		font-size: 14px;

		&:before{
			content: 'by '
		}
	}

	.join{
		flex-grow: 0;
	}
}

.songRow{

}

